@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(8px);
  }
}

body {
  overflow: hidden;
}

:root {
  --color-text: #333332;
}

.hero {
  width: 100vw;
  height: 100vh;
}

.hero-wrapper {
  position: relative;
  height: 100%;
  width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px;
  color: var(--color-text);
}

.intro-text {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 50%;
  left: 50%;
  font-weight: 500;
  font-size: 20px;
  transform: translate(-50%, -50%);
}

#click-me-image {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 41%;
  left: 51%;
  z-index: 10;
  transition: opacity 1s ease-in-out;
  opacity: 0;
}

#click-me-image.visible {
  opacity: 1;
}

#click-me-image.hidden {
  opacity: 0;
}

.arrow-svg-wrapper {
  position: absolute;
  top: 90%;
  left: 48.4%;
  opacity: 0;
  transform: translate(-50%, -50%);
  animation: bounce 0.5s ease-in alternate infinite;
}

.hero-main {
  position: absolute;
  bottom: 20vh;
  left: 0;
}

.hero-main-title {
  font-size: 64px;
  display: flex;
  font-weight: 700;
  color: var(--color-text);
}

.hero-main-description {
  font-size: 18px;
  display: flex;
  color: var(--color-text);
}

.hero-main-icons {
  display: flex;
  flex-direction: row;
  gap: 48px;
  padding-top: 20px;
}

.hero-main-icons a img {
  opacity: 0.75;
  transition: opacity 0.3s ease, transform 0.3s ease;
}

.hero-main-icons a:hover img {
  opacity: 1;
  transform: scale(1.1);
}

.section-margin {
  height: 1000px;
  width: 100%;
  width: 50%;
}

.experience {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  /* width: calc(100% - 160px);
  margin: 0 auto;
  max-width: 1100px; */
}

#footer-info {
  padding-bottom: 1.5rem;
  padding-top: 1.5rem;
  margin-top: auto;
  font-size: 0.75rem;
  text-align: center;
}

canvas {
  min-height: 100vh;
  max-height: 100vh;
}
